*{
    margin: 0px;
    padding:0px;
}
.div{
    height:99vh;
    width:100%;
    border:1px solid black;
    background-image: url("download.jpg");
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 37% 63%;
}
.p1{
    /* border: 1px solid red; */
    display: grid;    
    grid-template-rows: 36% 40% 27%;
    
    justify-content: center;
    align-items: center;
}
.p1 h1{
    color: blue;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.p1 ul{
    color: white;
    display: inline-block;
    text-align: center;
}
.p1 li{
    color: white;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;
    transition-duration: .5s;
    border-radius: 14%;
}
.p1 li:hover{
    background-color: blue;
}
.p2{
    /* border: 1px solid blue; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.p2 p{
    color: white;
    font-size: 44px;
    text-align: center;
}
/* /////////////////////////////////////////////////////// */

.d2{
    /* border:1px solid red; */
    height:500px;
    width:75%;
    margin: 13%;
    display: inline-grid;
    grid-template-columns: 50%;
    grid-template-rows: 100%;

}
.d21{
    /* border:1px solid blue; */
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url("download.jpg");
    background-size: 100% 200%;
}
.d22{
    /* border:1px solid yellow; */
    grid-column-start:2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 10% 10% 80%;
    justify-content: center;
}
.d22 h1{
    font-size: 40px;
    color:grey;
}
.d22 p{
    font-size: 20px;
 
}
/* /////////////////// */

.d3{
    height:560px;
    width:100%;
    background-image: linear-gradient(teal,rgb(118, 255, 255)) ;
    margin-top: -70px;
    display: inline-grid;
    grid-template-columns: 50% 51%;
    grid-template-rows: 100% 100%;
    color:white;
    align-items: center;
}
.d31{
    /* border:1px solid red; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 10%;
}
.d31 h1{
    font-size: 40px;
}
.d31 p{
    font-size: 20px;
}
.d32{
    /* border: 1px solid blue; */
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 2;
    height: 100%;
    position: relative;
}
.d32 img{
    height:90%;
    width:80%;
    position: absolute;
    top:10%;
    left:20%;
    z-index: 3;
}
/* //////////////////// */
.d4{
    height:550px;
    width:100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("store.jpg");

    background-size: 100% 100%;
    color:white;
    font-size: 40px;
    font-weight: bold;
}
.d4 p{
    color:white;
}
/* ////////////// */

.d5{
    height:550px;
    width:100%;
    background-color: rgb(126, 154, 245);
    color:white;
    text-align: center;

}
.d51{
    height:80%;
    width:80%;
    /* border:1px solid red; */
    margin: auto;
    display: grid;
    /* justify-content: center; */
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100%;
}
.dd{
    /* border:1px solid black; */
    display: grid;
    align-items: center;
    justify-content: center;
}
.dd i{
    font-size: 60px;
}
.dd p{
    color:white
}
/* ///////////// */
#kk{
    color:rgb(126, 154, 245);
    text-align: center;

}
.d6{
    height:350px;
    width:100%;
    /* border:1px solid red; */
}
.d6 img{
    height:80%;
    width:19%;
}
/* ///////////// */

.d7{
    height:500px;
    width:100%;
    background-image: url("pp.jpg");
    background-size: 100% 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.d7 h1{
    color: white;
    font-size: 35px;
}
/* //////////////// */

.d8{
    height:300px;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("i.jpg");
    background-size: 100% 100%;
    display: grid;
    justify-content: center;
    align-items: center;
   
}
.d8 p{
    color: white;
    font-size: 25px;
}
.d8 i{
    color: white;
    font-size: 80px;
}
.d9{
    margin-top: 50px;
    height:450px;
    width:100%;
    background-color:  rgb(126, 154, 245);
    display: grid;
    justify-content: center;
    grid-template-columns: 65%;
    grid-template-rows: 50% 80%;
    /* align-items: center; */
    color: white;
}
.dd{
    display: grid;
    grid-template-columns:33% 33% 33%;
    grid-template-rows: 100% 100% 100%;
    /* border:1px solid black; */
    grid-gap: 5%;
    padding-top: 5%;
}

.dd h2,p{
    color: black;
}
#pp{
    color:white;
    margin-top: 20px;
    text-align: center;
    font-size: 46px;
}
.dd div img{
    width:100%;
}
.dd div{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:50% 25% 20%;
    background-color: lightgrey;
}
.dd div h2,p{
    margin-left: 7%;
}
.d9s1{
    /* border:1px solid red; */
    grid-column-start: 1;
    grid-column-end: 2;
    height:110%;

}
.d9s2{
    /* border:1px solid red; */
    grid-column-start: 2;
    grid-column-end: 3;
    height:110%;
}
.d9s3{
    /* border:1px solid red; */
    grid-column-start: 3;
    grid-column-end: 4;
    height:110%;
}
/* /////////////////// */

#ll{
    text-align: center;
    margin-top: 220px;
    font-size: 35px;
    color:  rgb(126, 154, 245);
}
.d10{
    height:200px;
    width:100%;
    /* border:1px solid red; */
    margin-top: 40px;
}
.d10 img{
    width:14%;
}
/* //////////////////////// */

.d11{
    height:550px;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("al.jpg");
    background-size: 100% 100%;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    color:white;
    font-size: 17px;
    padding-right: 8%;
    box-sizing: border-box;
}
.d11 h3{
    float: right;
    color:white;

}
.d11 p{
    float: right;
    color:white;
  
}
/* ///////////////// */
.d12{
    height:500px;
    width:100%;
    padding:5%;
    box-sizing: border-box;
}
.d12 h1{
    color: rgb(42, 87, 233);
    margin-left: 5%;

}
.d12 p{
    font-size: 20px;
    margin-left: 5%;
}
/* ////////////////// */

.d13{
    height:370px;
    width:100%;
     background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("cer.jpg");
     background-size: 100% 190%;
     color: white;
     display: grid;
     font-size: 40px;
     justify-content: center;
     align-items: center;
    
}
.d13 h1{
    margin-left: -80%;
}
/* /////////////////////// */

.d14{
    height:680px;
    width:100%;
    background-color:  rgb(79, 110, 211);
    display: grid;
    grid-template-columns: 50% 50%;
    color:white;
}
.d14 div{
    /* border: 1px solid red; */
}
.d141{
    display: grid;
    /* justify-content: center; */
    align-items: center;
}
.d141 img{
    height:80%;
    width:60%;
    margin-left: 20%;
}
.d142{
    padding-top: 10%;
    display: grid;
    grid-template-rows: 20% 15% 45% 20%;
}
.d142 i{
    color:white;
    font-size: 55px;
    text-align: center; 
}
.d142 h1{
    margin-left: 10%;
}
.d142 p{
    color:white;
    line-height: 28px;
    font-size: 19px;
}
/* ////////////////// */
.p2 h1{
    color:white;
    font-size: 45px;
}

/* //////// */

.d15{
    height:340vh;
    width:100%;
    /* border:1px solid blue; */
    display: grid;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
}
.d15 div{
    /* border:1px solid red; */
    display: grid;
    justify-content: center;
    align-self: center;
    color:white;
    text-align: center;
    height:100%;
   
}
.d15 i{
    font-size: 40px;
}
.d15 h4{
    font-size: 23px;
}
.ga1{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0, 0, 0, 0.4)),url("food3.jpg");
     background-size: 100% 100%;
}
.ga2{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url("food2.jpg");
     background-size: 100% 100%;
}
.ga3{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url("food3.jpg");
     background-size: 100% 100%;
}
.ga4{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url("food4.jpg");
     background-size: 100% 100%;
}
.ga5{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url("food5.jpg");
     background-size: 100% 100%;
}
.ga6{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url("food6.jpg");
     background-size: 100% 100%;
}
/* //////////////////////////////// */

.d16{
    height:270vh;
    width:80%;
    margin:auto;
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    display: grid;
    grid-template-columns: 170%;
    grid-template-rows: 73% 7% 20%;
    transition-duration:0.5s;
}
.grid-item:hover{
    box-shadow: 0px 0px 10px 10px grey;
    z-index: 3;
}
  .grid-item img {
    border-bottom: 1px solid grey;
    /* width:100%; */
}
.grid-item h4{
    color:blue;
    font-size: 20px;
    margin-left: 7%;
}
.grid-item p{
    color:grey;
    font-size: 17px;
}
/* ///////////////////////////////// */
.p1 li{
    color:teal;
}


.d17{
    height:680px;
    width:100%;
    display: grid;
    grid-template-columns: 50% 50%;
    color:white;
}
.d17 div{
    /* border: 1px solid red; */
}
.d171{
    display: grid;
    /* justify-content: center; */
    align-items: center;
}
.d171 img{
    height:80%;
    width:60%;
    margin-left: 20%;
}
.d172{
    padding-top: 10%;
    display: grid;
    grid-template-rows: 20% 15% 45% 20%;
}
.d172 i{
    color:white;
    font-size: 55px;
    text-align: center; 
}
.d172 h1{
    margin-left: 10%;
}
.d17 .d142c p, h1{
    color:grey;
}
.d142c pre{
    color:blue;
    font-weight: bold;
}
.d142c button{
    color:white;
    background:blue;
    font-weight: bold;
    height:40px;
    width:300px;
    margin-top: 40px;
    border-radius: 20%;
}
.d172 p{
    line-height: 28px;
    font-size: 19px;
}
/* //////////////// */

.table{
    height:100px;
    width:90%;
    margin: auto;
    border-bottom:1px solid black;
}
.table h4{
    color:blue;
}
.table p{
    font-size: 14px;
    margin-left: -8px;
    line-height: 23px;
}
/* /////////////////// */

.table2{
    height:35px;
    width:90%;
    margin-top: 40px;
    margin: auto;
    border-bottom:1px solid black;
}
.table2 h4{
    color:blue;
}
.table2 p{
    font-size: 14px;
    margin-left: -8px;
    line-height: 23px;
}






