*{
    padding: 0px;
    margin:0px;
}
a{
    color:grey;
    text-decoration: none
    ;
}
.ww{
    height:50px;
    width:100%;
    /* border:1px solid; */
}
.nav{
    height:100px;
    width:100%;
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: 15% 54% 15%;
    /* grid-gap: 10%; */
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}
.nav .id{
    /* border:1px solid yellow; */
    display: grid;
    grid-template-columns: 100%;
    grid-gap:10%;
    /* justify-content: center; */
    align-items: center;
}
.nav ul{
    /* border:1px solid red; */
    list-style: none;
    display: grid;
    grid-template-columns: 10% 10% 15% 10% 15%;
    grid-gap:10px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav li
{
    /* background-color: #w; */
    text-align: center;
    color:black;
    border-radius: 40%;
    padding-top: 5px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.op{
    position: absolute;
    top:190%;
    left:-3%;
    height:290px;
    width:200px;
    border:4px solid #FF3271;
    overflow: hidden;
    transition-duration: 1s;
    opacity: 0;
    background-color: white;
}
.op2{
    position: absolute;
    top:190%;
    left:-3%;
    height:200px;
    width:200px;
    border:4px solid #FF3271;
    overflow: hidden;
    transition-duration: 1s;
    opacity: 0;
    background-color: white;
}
.op3{
    position: absolute;
    top:190%;
    left:-3%;
    height:250px;
    width:200px;
    border:4px solid #FF3271;
    overflow: hidden;
    transition-duration: 1s;
    opacity: 0;
    background-color: white;
}
.op4{
    position: absolute;
    top:190%;
    left:-3%;
    height:250px;
    width:200px;
    border:4px solid #FF3271;
    overflow: hidden;
    transition-duration: 1s;
    opacity: 0;
    background-color: white;
}
.op5{
    position: absolute;
    top:190%;
    left:-3%;
    height:100px;
    width:200px;
    border:4px solid #FF3271;
    overflow: hidden;
    transition-duration: 1s;
    opacity: 0;
    background-color: white;
}
.sd{
    height:50px;
    width:100%;
    color:grey;
    display: grid;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 1px solid grey;
}
/* '''''''''''''''''''''''''''''' */

.b{
    height:50px;
    width:100%;
    color:grey;
    font-weight: bold;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    position: absolute;
    left:0%;
}
.b1{
    top:0px;
}
.b2{
    top:50px;
}
.b3{
    top:100px;
}
.b4{
    top:150px;
}
.b5{
    top:200px;
}
.b6{
    top:250px;
}
.b::after{
    content: '';
    background-color: #FF3271;
    opacity: 0.5;
    position: absolute;
    top:0px;
    right:100%;
    bottom: 0px;
    left:-20%;
    z-index: -1;
    transition-duration: 0.5s;
}
.b:hover{
    z-index:0;
}
.b:hover::after{
    right:-100%;
    left:100%;
    opacity: 0;
}


/* .................................... */
.nav .sd pre{
    margin-left: -26px;
}
.h:hover .op{
    cursor: pointer;
    opacity: 1;
    top:120%;
}
.a:hover .op2{
    cursor: pointer;
    opacity: 1;
    top:120%;color:black;
}
.p:hover .op3{
    cursor: pointer;
    opacity: 1;
    top:120%;color:black;
}
.bl:hover .op4{
    cursor: pointer;
    opacity: 1;
    top:120%;color:black;
}
.cu:hover .op5{
    cursor: pointer;
    opacity: 1;
    top:120%;color:black;
}
.nav li:nth-child(1)
{background-color: #7F4DFF;
    text-align: center;
    color:white;
    border-radius: 40%;
    padding-top: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.nav li:nth-child(5)
{
    width:130px;
}
.nav li:hover{
    background-color: #7F4DFF;
    text-align: center;
    color:white;
    border-radius: 40%;
    padding-top: 5px;
    padding: 10px;
    box-sizing: border-box;cursor: pointer;
}
.nav .cu:hover{
    width:130px;cursor: pointer;
}
.nav .icon{
    /* border:1px solid green;  */
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16%;
    grid-template-rows: 101%;
    grid-gap: 2%;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}
.icon i{
    height:33px;
    padding-top: 10px;
}
.fab:hover{
    transform: rotate(360deg);
    cursor: pointer;
    transition-duration: 1s;
}
.fab{
    background-color: #FF3271;
    color:white;
    border-radius: 50%;
    font-size: 13px;
    display: grid;
    justify-content: center;
    align-items:center;
    height:30px;
}
/* //////////////////////////////////////////////////////// */
/* ///////////////// */
.d2{
    height:350px;
    width:100%;
    /* border:1px solid blue; */
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 37px;
    position: relative;
}
.y{
    height:40%;
    width:11%;
    border-radius: 50%;
    position: absolute;
    top:27%;
    background-color: #DECC82;
    left:35%;
    z-index: -1;
}
.halwa{
    height:800px;
    width:100%;
    /* border:1px solid blue; */
    display: inline-grid;
    grid-template-columns: 50% 50%;
}
.ok{
    /* border:1px solid red; */
}
.ok1{
    padding-left: 10%;
    box-sizing: border-box;
    line-height: 55px;
    position: sticky;
    top:0px;
}
.oo{
    height:31%;
    width:100%;
    /* border: 1px solid green; */
    position: sticky;
    top:100px;
}
.ok p{
    color:grey;
    line-height:24px;
}
/* ////////slider end ////////////////// */
.iidd{
    /* border:1px solid red; */
    height:300px;
    width:100%;
    margin-top: 30vh;
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 20%;
    grid-row-gap: 10%;
}
#o{
    margin-top: 200px;
    text-align: center;
    height:50px;
    width:100%;
    font-size: 30px;
}
.clasy{
  height:430px;
  width:100%;
  /* border:1px solid red; */
  margin-top: 7vh;
  text-align: center;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 100%;
  box-sizing: border-box;
  padding-left: 6%;
}
.clasy h1{
    font-size: 38px;
    position: relative;
}
.clasy .i{
    /* border:1px solid red; */
    position: relative;
    overflow: hidden;
}
.i .in{
    height:56%;
    width:200%;
    background-color: white;
    position: absolute;
    bottom: -10%;
    left:-20%;
    transform: rotate(-20deg);
    transition-duration: 1s;
    opacity: 0;
}
.i h3{
    position: absolute;
    top:75%;
    left:3%;
    transition-duration: 1s;
    opacity: 0;
}
.i p{
    position: absolute;
    top:80%;
    left:3%;
    transition-duration: 1s;
    opacity: 0;
}
.i:hover .in{
    transform: rotate(8deg);
    opacity: 0.8;
}
.i:hover #h3{
    left:10%;
    opacity: 1;
}
.i:hover #p{
    left:10%;
    opacity: 1;
}
.ii1{
    background-image: url("team-1.jpg");
    background-size: 100% 100%;
}
.ii2{
    background-image: url("team-2.jpg");
    background-size: 100% 100%;
}
.ii3{
    background-image: url("team-3.jpg");
    background-size: 100% 100%;
}
/* /////////////////// */
.iidd{
    /* border:1px solid red; */
    height:150px;
    width:100%;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 20%;
    grid-row-gap: 10%;
}

/* ///////////////////////////////// */
.extra{
    height:180vh;
    width:100%;
}
footer{
    height:250px;
    width:100%;
    display: grid;
    grid-template-columns: 29%;
    grid-template-rows: repeat(3,33%);
    justify-content: center;
}
footer .img{
    /* background-image: url("l.png");
    background-size: 59% 50%;
    background-repeat: no-repeat; */
    display: grid;
    margin-left: -40px;
    justify-content: center;
    align-items: flex-end;
}
.img img{
    height:50%;
    width:550%;
}
footer .pd{ 
    /* border: 1px solid yellow; */
    display: grid;
    justify-content: center;
    align-items: center;
}
footer div{
      display: grid;
      grid-template-columns: 10% 10% 10% 10% 10%;
      grid-template-rows: 100%;
      grid-gap: 10px;
      justify-content: center;
      align-items: flex-start;
      /* border: 1px solid green; */
}
.fab{
    text-align: center;
    padding-top: 14px;
    box-sizing: border-box;
}
.h{
    height:40px;
}